body {
    font-family: 'Crete Round';
    font-size: 20px;
    background-image: linear-gradient(lightblue, blanchedalmond);
    margin-top: 75px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;
}
  
h1 {
    color: white;
    text-align: center;
    font-size: 75px;
    text-shadow: 6px 2px pink;
    margin-bottom: 5px;
}

h2 {
    color: #333333;
}

h3 {
    color: white;
    text-shadow: 1px 1px 2px #333333;
    text-align: center;
    font-size: 22.5px;
    margin: 5px;
}
  
p {
    color: #333333;
    font-family: 'Crete Round';
    font-size: 20px;
}

.opennav {
    position: fixed;
    left: 0;
    background-color: #111;
    color: #818181;
    padding: 4px 12px 4px 12px;
}

/* The side navigation menu */
.sidenav {
    height: 50%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 400; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutme {
    background: pink;
    border: white 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 20px;
    padding: 40px;
}

.dtext {
    background: pink;
    border: white 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 20px;
    padding: 25px;
}

img {
    border-radius: 20px;
}

.clouds {
    display: flex;
    align-items: center;
    width: 1050px;
    opacity: 0.25;
    padding-top: 50px;
}

.tinytext {
    font-size: 15px;
    padding-top: 5px;
}

.footer {
    font-family: 'Crete Round';
    font-size: 15px;
    color: #333333;
    bottom: 0;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.skyline {
    display: flex;
    width: 1050px;
    opacity: 0.25;
    padding-top: 50px;
    z-index: 0;
    bottom: 0;
    padding-top: 60px;
    position: relative;
    text-align: center;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.contactimg {
    border-radius: 0;
    opacity: 0.75;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    width: 20px;
    height: 20px;
}